html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--white);
	font-family: 'Inter', serif;
}

.menu-open::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: black;
	opacity: 0.5;
}
