@use '../mixins/hover.scss' as *;

.intro__btn {
    background-color: var(--red);
    color: var(--black);
    border: none;
    width: 185px;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4.375px;

    @include hover {
        background-color: var(--black);
    color: var(--white);
    }
}