@use '../mixins/responsive.scss' as *;

.main {
    padding: 16px 16px 80px;

    @include responsive (laptop) {
        padding: 55px 80px 127px;
    }

    @include responsive (desktop) {
        padding: 55px 165px 127px;
    }
}

.top {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include responsive(laptop) {
        flex-direction: row;
        gap: 30px;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__caption {
        @include responsive (laptop) {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__text {
        margin: 0;
    }

    &__img {
        width: 100%;
    }
}

.news {
    background-color: var(--black);
    padding: 24px 20px;
    margin-bottom: 64px;

    &__title {
        margin-top: 0;
    }

    &__new {
        padding-bottom: 29px;
        border-bottom: 1px solid var(--grey);
        margin-bottom: 30px;

        &--last {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &__headline {
        margin: 0;
    }

    &__text {
        color: var(--silver);
        margin-bottom: 0;
    }
}

.ranking {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__element {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    &__img {
        height: 130px;
    }

    &__number {
        color: var(--red);
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        margin: 0;
        margin-bottom: 12px;
    }

    &__title {
        margin: 0;
        margin-bottom: 9px;
    }

    &__text {
        margin: 0;
    }

    @include responsive (laptop) {
        flex-direction: row;
        gap: 30px;
    }
}